.resume-container {
    text-align: center;
    padding: 10px;
}

.resume-image {
    width: 100%;
    max-width: 425px; /* Adjust this value as needed */
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional shadow for aesthetics */
    border-radius: 8px; /* Optional rounded corners */
    margin: 0 auto; /* Add spacing around the image */
}

@media (max-width: 600px) {
    .resume-container {
        padding: 5px; /* Reduce padding on smaller screens */
    }

    .resume-image {
        margin-top: 10vh;
    }
}