.App {
  text-align: center;
  background: linear-gradient(to bottom, #2c3e50, #4b0082);
  overflow: hidden;
  position: relative;
}

.stars {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 0; /* Ensure stars are behind other elements */

}

.star {
  width: 2px;
  height: 2px;
  background: white;
  position: absolute;
  animation: twinkling 2s infinite;
  z-index: 0;
}

/* Shooting Stars */
.shooting-star {
  width: 2px;
  height: 100px;
  background: linear-gradient(white, transparent);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  animation: shooting 2s linear infinite;
}

@keyframes shooting {
  0% {
    transform: translate(0, 0) rotate(45deg);
    opacity: 1;
  }
  100% {
    transform: translate(100vw, 100vh) rotate(45deg);
    opacity: 0;
  }
}

@keyframes twinkling {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
  border-radius: 50%;
  border:#0005 5px solid;
  margin-top: 6%;
  z-index: 1; /* Ensure logo is above stars */
  margin-bottom: -40px;

}



.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-shadow: 2px 2px 4px #000000;
  z-index: 1; /* Ensure header is above stars */

}

@-webkit-keyframes rainbow {
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}
@keyframes rainbow { 
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



nav {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 80px;
  backdrop-filter: blur(10px);
  margin-bottom: 20px;
  -webkit-backdrop-filter: blur(10px);
  background-blend-mode: color;
  color: #fff;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

nav ul li {
  flex: 1;
}

nav ul li.Icons {
  position: relative;
  margin-left: 10px;
  padding-left: 10px;
  transition: transform 0.5s ease;
}

nav ul li.pages {
  padding-top: 10px;
  padding-right: 100px;
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  text-shadow: #000 0px 0px 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li.pages a {
  display: flex;
  color: #fff;
  text-decoration: none;
  padding-bottom: 2px;
  background-image: linear-gradient(#61dafb, #61dafb);
  background-position: 0 100%;
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition: color 0.5s ease, transform 0.5s ease, background-size 0.3s, background-position 0s 0.3s;
}

nav ul li.pages a:hover {
  color: #61dafb;
  transform: scale(1.1);
  background-position: 100% 100%;
  background-size: 100% 2px;
}

.About-header{
  height:100vh;
  color: white;
  overflow: hidden;
  font-size: 0.5em;
  margin-top: 100px;
  height: auto;
}

.skill-icons {
  font-size: 4.5em;
  border: 1.7px solid rgba(39, 155, 184, 0.637) !important;
  box-shadow: 4px 5px 4px 3px rgba(89, 4, 168, 0.137) !important;
  margin: 15px;
  padding: 10px;
  border-radius: 10px;
  display: table;
  transition: all 0.4s ease 0s !important;
  overflow: hidden;
  position: relative; /* Add this to position the ::after pseudo-element correctly */
}



.skill-icons::after {
  content: attr(data-text);
  position: absolute;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  backdrop-filter: blur(10px); /* Apply blur to the background */
  color: white;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s;
  white-space: nowrap;
  max-width: 100%; /* Ensure the text does not exceed the container width */
  overflow: hidden; /* Hide overflow text */
  text-overflow:initial; /* Add ellipsis for overflow text */
  font-size: 0.8em;
}

.skill-icons:hover::after {
  opacity: 1;
}

.skill-icons:hover {
  transform: scale(1.05) !important;
  overflow: hidden !important;
  border: 2.2px solid rgba(255, 255, 255, 0.883) !important;
  transform-origin: center;
  /* Remove the blur filter */
}

@keyframes flip {
  0% {
    transform: perspective(400px) rotateY(0);
  }
  100% {
    transform: perspective(400px) rotateY(180deg);
  }
}


.tech-icon-images {
  padding: 20px !important;
  line-height: 1.6 !important;
}


.Intro {
  margin-top: 0px;
  font-size: 2.5em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  animation: slide-in 1s ease-in-out;
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.hand{
  display: inline-block;
  animation: wave 2s infinite;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

.letter {
  display: inline-block;
  animation: slide-in 1s ease-in-out forwards;
}


.About-h1 {
  margin-left: 21.2%;
  margin-top: 50px;
  font-size: 4.5em;
  display: flex;
}

.About-h1-me {
  margin-left: 27%;
  margin-top: -40px;
  font-size: 4.5em;
  color: #61dafb;
  display: flex;
}

.Description-about {
  position: relative;
  margin-left: 29%;
  margin-top: -12.5%;
  padding: 20px;
  padding-bottom: 100px;
  margin-right: 32%;
  font-size: 2.0em;
  text-align: justify; /* Center the text */
  border: 2px solid white;
  border-radius: 40px;
  background-color: transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.thought {
  display: flex;
  background-color: #949494;
  font-size: 1.5em;
  padding: 20px;
  border-radius: 30px;
  min-width: 40px;
  max-width: 500px;
  min-height: 40px;
  margin: 20px auto; /* Center horizontally and add vertical margin */
  color: rgb(255, 255, 255);
  position: relative;
  align-items: center;
  margin-right: 300px;
  margin-top: -200px;
}
.thought:before,
.thought:after {
  content:"";
  background-color:#949494;
  border-radius:50%;
  display:block;
  position:absolute;
  z-index:1;
}
.thought:before {
  width:44px;
  height:44px;
  top:-20px;
  left:28px;
  box-shadow:-50px 30px 0 -12px #949494;
}
.thought:after {
  bottom:-10px;
  right:26px;
  width:30px;
  height:30px;
  box-shadow:40px -34px 0 0 #949494,
             -28px -6px 0 -2px #949494,
             -24px 17px 0 -6px #949494,
             -5px 25px 0 -10px #949494;
  
}





.person-working {
  margin-right: -60%;
  margin-top: -33%;
  position: sticky;


}


.Quote-header {
  margin-top: -100px;
}

.Quote{
  margin-top: -20px;
  padding-left: 20px;
  padding-right: 20px;
  font-style: oblique;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

html, body {
  margin: 0;
  padding: 0;
}

fade {
  opacity: 1;
  transition: opacity 0.5s;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.GithubCalendar {
  
  margin-left: 0 auto;
  margin-bottom: auto;

  display: flexbox;
}

.Resume {
  pointer-events: none;
  border:#0005 5px solid;
  z-index: 1; /* Ensure logo is above stars */
  height: auto;
  display: flex;
  position: absolute;
}
.iframe-container {
  width: 40%;
  height: 750px; /* Adjust height as needed */
  border: none;
  overflow: auto; /* Ensure the iframe itself can scroll */
  margin-top: 110px;
}

.iframe-container::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.iframe-container::-webkit-scrollbar-thumb {
  background-color: #8e44ad;
  border-radius: 10px;
  border: 3px solid #f3e5f5;
}

.iframe-container::-webkit-scrollbar-thumb:hover {
  background-color: #9b59b6;
}

.iframe-container::-webkit-scrollbar-track {
  background-color: #4a235a;
  border-radius: 10px;
}

.iframe-container::-webkit-scrollbar-corner {
  background-color: #4a235a;
}


/* Custom Purple Themed Scrollbar Styles */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
  height: 12px; /* Height of the scrollbar (for horizontal scrollbar) */
}

::-webkit-scrollbar-thumb {
  background-color: #8e44ad; /* Dark purple color for the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the scrollbar thumb */
  border: 3px solid #f3e5f5; /* Light purple padding around the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #9b59b6; /* Lighter purple color for the scrollbar thumb on hover */
}

::-webkit-scrollbar-track {
  background-color: #4a235a; /* Dark purple color for the scrollbar track */
  border-radius: 10px; /* Rounded corners for the scrollbar track */
}

::-webkit-scrollbar-corner {
  background-color: #4a235a; /* Dark purple color for the scrollbar corner */
}


.project-icons {
  font-size: 4.5em;
  border: 1.7px solid rgba(39, 155, 184, 0.637) !important;
  box-shadow: 4px 5px 4px 3px rgba(89, 4, 168, 0.137) !important;
  margin: 15px;
  padding: 10px;
  border-radius: 10px;
  height: 400px;
  display: table;
  transition: all 0.4s ease 0s !important;
  overflow: hidden;
  position: relative; /* Add this to position the ::after pseudo-element correctly */
}

.project-container {
  position: relative;
  text-align: center;
  height: 450px; /* Ensure the container has a fixed height */
}

.project-png {
  width: 100%;
  height: 70%;
}

.project-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 14px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Align items to the bottom */
}

.project-caption-title {
  padding: 5px 0;
}

.project-caption-description {
  padding: 5px 0;
  background-color: rgba(0, 0, 0, 0.5);
  font-style: italic;
  font-size: 10px;
}















